* {
  margin: 0px;
  padding: 0px;
  
}

header {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
  margin-top: 1rem;
  /* border: 1px solid red;
   */
}
.nav-bar {
  margin-top: 1rem;
}

.search-logo {
  margin-top: 1rem;
}

.nav-bar a {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.125rem;
  text-decoration: none;
  margin: 1rem;
  color: white;
}
.nav-bar a:hover {
  color: #7f7f7f;
}

.sky {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 200vh;
}

.earth {
  position: absolute;
  top: 45%;
  left: 20%;
  z-index: 1;
  width: 60%;
}
.text-section {
  position: absolute;
  top: 23rem;
  left: 20rem;
  width: 45%;
  letter-spacing: 0.5px;
  text-align-last: center;
  z-index: 2;
  /* border: 1px solid red; */
}
h1 {
  color: white;
  letter-spacing: 0.5;
  margin-bottom: 1rem;
}
.text-section-para {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.5rem;
  letter-spacing: 1;
  color: white;
  cursor: pointer;
}

.video-img {
  position: absolute;
  top: 128%;
  margin-left: 13%;
  /* border: 1px solid red; */
  z-index: 2;
}
.video-img img {
  width: 100%;
  border-radius: 5px;
}

.second-container {
  margin: 20rem 6rem 10rem 6rem ;
  
  /* border: 1px solid red; */
}

.card {
  width: 20rem;
  height: 25rem;
  border: none !important;
  margin-top: 2rem;
}

.card-img-top {
  height: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-small-text,
.card-text {
  color: #7f7f7f;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.card-small-text {
  font-size: 12px;
  margin-top: 1rem;
}
.third-container-img1 {
  position: relative;
  width: 100vw;
}
.third-container-img2 {
  position: absolute;
  width: 100vw;
  margin-top: -35rem;

}
.third-container-text1 {
  position: absolute;
  margin-top: -44rem;
  margin-left: 10rem;

  /* border: 1px solid red; */
}
.third-container-text1 h1 {
  font-size: 4rem;
  font-weight: bold;
}

.third-container-text1 p , .third-container-text2 p{
  color: white;
  font-size: 1.2rem;
  
}
.third-container-text2{
  position: absolute;
  margin-top: 1rem;
  margin-left: 10rem;
}

.third-container-text2 h1{
  font-size: 3rem;
  font-weight: bold;
}



